<section class="landing">
    <div class="flex">
        <ng-container *ngFor="let feature of features">
            <div
                style="
                    background: white;
                    width: 15rem;
                    height: 18rem;
                    border: 1px solid;
                    border-radius: 0.5rem;
                    margin: 1rem;
                "
            >
                dummy icons<img
                    style="height: 10rem; width: 12rem; text-align: center"
                />
                <a
                    style="display: block; text-align: center"
                    [routerLink]="[feature.route]"
                    >{{ feature.name }}</a
                >
            </div>
        </ng-container>
    </div>
</section>
